/*------------------------
    Intro Section
--------------------------*/
.intro-section {
  padding: 50px 0;
}

/*------------------------
    Portfolio Section
--------------------------*/
.portfolio-section {
  overflow: hidden;
}


.portfolio-filter {
  list-style: none;
  padding-bottom: 0px;
}

.portfolio-filter{
  cursor: pointer;
}

.btn {
	display: inline-block;
  max-width: 25vh;
  margin-left: 10px;
  padding: 2px;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 16px;
	font-weight: normal;
}

.instagram {
	text-align: center;
	border-radius: 8px;
  padding: 10px;
  color: black;
  background: whitesmoke;
  border-color: white;
}  
